.box {
    position: relative;
    top: 0;
    float: left;
    padding: 60px 50px 40px 50px;
    width: 100%;
    background: #fff;
    z-index: 5;
 
  }
  


  .input {
    width: 100%;
    float: left;
  
    label, input, .spin {
      width: 100%;
      float: left;
    }
  }
  
  .button {
    width: 100%;
    float: left;
  
    button {
      width: 100%;
      float: left;
    }
  }
  
  .input, .button {
    margin-top: 30px;
    height: 70px;
  }
  
  .input {
    position: relative;
  
    input {
      position: relative;
    }
  }
  
  .button {
    position: relative;

  }
  
  .input {
    input {
      height: 60px;
      top: 10px;
      border: none;
      background: transparent;
      font-family: 'Roboto', sans-serif;
      font-size: 24px;
      color: rgba(0, 0, 0, 0.8);
      font-weight: 300;
    }
  
    label {
      font-family: 'Roboto', sans-serif;
      font-size: 24px;
      color: rgba(0, 0, 0, 0.8);
      font-weight: 300;
    }
  }
  
  .button {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    color: rgba(0, 0, 0, 0.8);
    font-weight: 300;
  }
  
  .input {
    &:before, .spin {
      width: 100%;
      height: 1px;
      position: absolute;
      bottom: 0;
      left: 0;
    }
  
    &:before {
      content: "";
      background: rgba(0, 0, 0, 0.1);
      z-index: 3;
    }
  
    .spin {
      background: #ED2553;
      z-index: 4;
      width: 0;
    }
  }
  
  .overbox .input {
    .spin {
      background: rgba(255, 255, 255, 1);
    }
  
    &:before {
      background: rgba(255, 255, 255, 0.5);
    }
  }
  
  .input label {
    position: absolute;
    top: 10px;
    left: 0;
    z-index: 2;
    cursor: pointer;
    line-height: 60px;
  }
  
  .button {
    &.login {
      width: 60%;
      left: 20%;
  
      button {
        width: 100%;
        line-height: 64px;
        left: 0%;
        background-color: transparent;
        border: 3px solid rgba(0, 0, 0, 0.1);
        font-weight: 900;
        font-size: 18px;
        color: rgba(0, 0, 0, 0.2);
      }
    }
  
    button {
      width: 100%;
      line-height: 64px;
      left: 0%;
      background-color: transparent;
      border: 3px solid rgba(0, 0, 0, 0.1);
      font-weight: 900;
      font-size: 18px;
      color: rgba(0, 0, 0, 0.2);
    }
 
    margin-top: 20px;
  
    button {
      background-color: #fff;
      color: #ED2553;
      border: none;
    }
  
     button {
      &:hover {
        color: #ED2553;
        border-color: #ED2553;
      }
    }
  
    margin: 40px 0;
    overflow: hidden;
    z-index: 2;
  
    button {
      cursor: pointer;
      position: relative;
      z-index: 2;
    }
  }
  
  .pass-forgot {
    width: 100%;
    float: left;
    text-align: center;
    color: rgba(0, 0, 0, 0.4);
    font-size: 18px;
  }
  


  .materialContainer {
    width: 100%;
    max-width: 460px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }
  
