<div class="materialContainer">
  <div class="box">
    <div class="title">LOGIN</div>

    <div class="input">
      <input
        type="text"
        id="name"
        [(ngModel)]="username"
        placeholder="username"
      />
      <span class="spin"></span>
    </div>

    <div class="input">
      <input
        type="password"
        id="pass"
        [(ngModel)]="password"
        placeholder="password"
      />
      <span class="spin"></span>
    </div>

    <div class="button login">
      <button (click)="login()">
        <span>Submit</span> <i class="fa fa-check"></i>
      </button>
    </div>

    <a href="" class="pass-forgot">Forgot your password?</a>
  </div>
</div>
